body {
  background-color: #0d021f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  padding: 50px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  color: #a58ae9;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #7a56d6;
  background-color: #2c205370;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:hover {
  box-shadow: 1px 1px 10px 0 #7a56d6;
  background-color: #2c205300;
}

.card .icon {
  font-size: 40px;
}

.card .funding span {
  font-weight: bold;
  color: #7a56d6;
}

.card .funding {
  font-weight: bold;
  color: #7a56d6;
}

.card .deadline {
  font-weight: bold;
  color: #7a56d6;
}

.button {
  background-image: linear-gradient(
    90deg,
    #3f2d6d,
    #7a56d6 33%,
    #9077ce 66%,
    #ffffff00
  );
  border: 1px solid #7a56d6;
  background-color: #7a56d6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
  width: 100%;
}
